<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
      For Company:  Hannon Associates
      Your Username is 
      Your Password is 
    -->
    <add key="USPSUserName" value=""/>
    <add key="USPSPassword" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
